{% extends "base.html" %}
  {% block content %}

<!-- Main content -->
<script src="https://cdn.tailwindcss.com"></script>
<style>
    .justify-center {
        justify-content: center;
    }
    .p-4 {
        justify-content: center;
    }
</style>
<main class="flex-grow p-4">
    <div class="flex justify-center">
        <div class="grid grid-cols-6 gap-4 w-full max-w-4xl">

            <!-- Buttons in 2 rows of 3, quite big -->
            <div class="col-span-2 flex justify-center">
                <a class="button-large bg-white w-full h-full rounded shadow p-4 text-center" href="{{ url_for('send') }}">Send CofC's</a>
            </div>
            <div class="col-span-2 flex justify-center">
                <a class="button-large bg-white w-full h-full rounded shadow p-4 text-center">Inbox</a>
            </div>
            <div class="col-span-2 flex justify-center">
                <a class="button-large bg-white w-full h-full rounded shadow p-4 text-center">Approvals</a>
            </div>
            <!-- Corrected second row -->
            <div class="col-span-2 flex justify-center">
                <a class="button-large bg-white w-full h-full rounded shadow p-4 text-center">Button</a>
            </div>
            <div class="col-span-2 flex justify-center">
                <a class="button-large bg-white w-full h-full rounded shadow p-4 text-center">Button</a>
            </div>
            <div class="col-span-2 flex justify-center">
                <a class="button-large bg-white w-full h-full rounded shadow p-4 text-center">Account</a>
            </div>
        </div>
    </div>
</main>
 {% endblock %}
